* {
    font-family: 'Host Grotesk', sans-serif;
}

body {
    color: white;
    overflow: hidden;
    position: relative;
}

.blur-background {
    position: fixed;
    top: -25%;
    left: -25%;
    width: 150vw;
    height: 150vh;
    background: url(background.jpg);
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.login-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 24, 0.65);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    width: 400px;
    height: 380px;
    z-index: 2;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.echoir-logo {
    padding-bottom: 15px;
    width: 165px;
    height: 43px;
}

.information {
    text-align: right;
    position: fixed;
    bottom: 1px;
    right: 20px;
    padding: 4px;
    z-index: 1;
}

a {
    color: #ddd;
    text-decoration: none;
}

.input-text {
    width: 300px;
    padding: 12px;
    margin: 6px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(34, 34, 34);
    color: white;
    font-size: 16px;
    outline: none;
}

.login-button {
    width: 200px;
    padding: 12px;
    margin-top: 10px;
    background-color: #019476;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #16a085;
}

.header, .sub-header {
    font-size: 28px;
    padding: 0;
    margin: 0;
}

.sub-header {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 15px;
}