*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #161616;
    color: #fff;
    font-family: 'Host Grotesk', 'Instrument Sans', Arial, sans-serif;
    overflow: hidden;
}


.sidebar-shapes {
    flex-shrink: 0;
    position: relative;
    z-index: 1000;
    pointer-events: none;
}

.shapes-img {
    height: 100vh;
    width: auto;
    pointer-events: none;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 562px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.echoir-logo {
    width: 250px;
    padding-bottom: 12px;
}

.subheading {
    color: #D3D3D3;
    font-size: 27px;
    text-align: center;
    padding-bottom: 14px;
}

.input-text {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    border: none;
    border-radius: 7px;
    border-bottom: 3px solid #FF3CC4;
    background-color: #333;
    margin-bottom: 14px;
}

.login-button {
    width: 100%;
    max-width: 200px;
    padding: 11.5px;
    font-size: 18px;
    background-color: #E400A0;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.login-button:hover {
    background-color: #C20088;
    transition: background-color 0.3s ease;
}

.make-acc-link {
    padding-bottom: 10px;
}

.link-acc {
    color: #FF74D5;
    text-decoration: none;
}

@media (max-width: 640px) {
    body {
        flex-direction: column;
    }

    .sidebar-shapes {
        display: none;
    }

    .content-wrapper {
        padding: 20px;
        flex-direction: column;
    }

    .content {
        max-width: 100%;
    }

    .subheading {
        font-size: 22px;
    }

    .input-text {
        font-size: 16px;
    }

    .login-button {
        max-width: 100%;
    }
}
