* {
    margin: 0;
    padding: 0;
    font-family: 'Host Grotesk', 'Instrument Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #252525;
    color: white;
    overflow: hidden;
}

.sidebar-shapes {
    flex: 0 0 auto;
    position: relative;
    z-index: 1000;
    pointer-events: none;
}

.shapes-img {
    height: 100vh;
    width: auto;
    pointer-events: none;
}

.content-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 562px;
    margin: 0 auto;
    padding: 20px;
}

.echoir-logo {
    width: 250px;
    padding-bottom: 12px;
}

.subheading {
    color: #D3D3D3;
    font-size: 27px;
    padding-bottom: 14px;
    text-align: center;
}

.input-text {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    color: #ffffff50;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    border-bottom: solid 3px #FF3CC4;
    background-color: #333333;
    margin-bottom: 14px;
}

.login-button {
    padding: 10px;
    border: none;
    border: 3px solid #E400A0;
    color: white;
    width: 100%;
    max-width: 200px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #C20088;
}

.make-acc-link {
    padding-bottom: 10px;
}

.link-acc {
    color: #FF74D5;
    text-decoration: none;
}

@media (max-width: 640px) {
    body {
        flex-direction: column;
    }

    .sidebar-shapes {
        display: none;
    }

    .content-wrapper {
        height: auto;
        flex: 1 1 auto;
        padding: 20px;
    }

    .content {
        max-width: 100%;
    }

    .subheading {
        font-size: 22px;
    }

    .input-text {
        font-size: 16px;
        padding: 15px;
        max-width: 100%;
    }

    .login-button {
        max-width: 100%;
    }
}
